*, ::before, ::after {
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	color: rgba(44,56,74,0.68);
}

.px-3 {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.flex-grow-1 {
	flex-grow: 1 !important;
}